<a routerLink="/" class="link">← Volver a todos los productos</a>

  <h1 class="title-h1">Cesta de la compra</h1>

<h1 class="title-h2">{{ cestaService.cesta().length }} productos seleccionados</h1>

<div class="cesta">

  <div class="cesta__resumen">
    <div class="cesta__info">

    </div>
    <p class="">{{ cestaService.cesta().length }} productos seleccionados</p>
    <p class="title-h3">Precio total {{ precioTotal() | currency:'EUR' }} (con IVA)</p>

    <form class="input-label">
      <label for="cesta-email">Email</label>
      <input class="input" type="email" id="cesta-email" placeholder="Tu email" required>
      <button type="submit" class="button button--filled">Comprar</button>
    </form>
  </div>

  <ul class="cesta__lista">
    @for (producto of cestaService.cesta(); track producto.id) {
    <li class="cesta__item">
      <img class="card-image cesta__imagen" [src]="producto.image" [alt]="producto.name">
      <div class="cesta__item-info">
        <h3 class="title-h3">{{ producto.name }}</h3>
        <span class="price">{{ producto.price | currency:'EUR' }} (con IVA)</span>
      </div>
<button class="button button--delete" (click)="deleteProduct(producto)">
  Eliminar de la cesta
</button>
    </li>
    }
  </ul>

</div>