@import '../../../styles/02-tools';
@import '../../../styles/03-tokens';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: var(--spacing-16); 

  background-color: var(--color-low-grey);
  z-index: var(--zindex-header);
  position: sticky;
  top: 0;
}

.header__right {
  display: flex;
  align-items: center;
  gap: var(--spacing-12);
}


.header__icon {
  width: pxToRem(150px);
  height: pxToRem(70px);
}

.header__btn {
  display: block;

  @media (max-width: $break-768) {
    display: none;
  }
}